Options +FollowSymLinks
 
RewriteEngine On
RewriteBase /

RewriteRule ^(.*)api/v1/(order|customer|product)/(create|edit|delete|show)/(.*)$ /apiv1.php?object=$2&action=$3&id=$4 [L]
RewriteRule ^(.*)api/v1/(order|customer|product)/(create|edit|delete)$ /apiv1.php?object=$2&action=$3 [L]

RewriteRule ^(.*)json/(order|customer|product|document)/(.*)$ /index.php?p=json_$2&orderid=$3 [L]

RewriteRule ^(.*)(customers|orders|dash|mail)/?(.*)$ /index.php?p=$2&$3 [L]
RewriteRule ^(.*)(customers|orders|dash|mail)/$ /index.php?p=$2 [L]

RewriteRule ^(.*)(documents)/?(.*)$ /index.php?p=docs&$3 [L]
RewriteRule ^(.*)(documents)/$ /index.php?p=docs [L]

RewriteRule ^(.*)(dashboard)/?(.*)$ /index.php?p=dash&$3 [L]
RewriteRule ^(.*)(dashboard)/$ /index.php?p=dash [L]